# Core functionality - changes here should be rare!
/src/app.py                   @stampini81
/src/backend/database.py      @stampini81
/src/backend/routers/auth.py  @stampini81

# The frontend will need refactored soon to be more object oriented.
/src/static/   @stampini81
